.aboutgrid{
    margin-top: 20px;
    display: grid;  
    grid-template:
    [row1-start] 'title image' 2fr [row1-end]
    [row2-start] 'text image' 3fr [row2-end]
    / 2fr 1fr;
    z-index: 0;


}
.aboutgridsloth1_1{
    width: 85%;
    text-align: left;
    color: white;
    justify-self: start;
    padding-left: 10px;
    display: block;
    margin-top: auto;
    margin-bottom: 0%;
    color: white;
    grid-area: title;
    z-index: 1;
    font-family: var(--font_main);
}

.aboutgridsloth2_1{
    width: 85%;
    color: white;
    display: block;
    margin-top: 30;
    margin-bottom:auto;
    color: white;
    text-align: left;
    grid-area: text;
    z-index: 1;
    margin-left: 10px;
}


.aboutgridimage{
    /* grid-area: image ; */
    /* grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2; */

    width: auto;
    display: block;
    position:absolute;

    float: right;
    right: 0px;


    transform-origin: center right;
    scale: 100%;
    margin-top: -20%;
    margin-right: 0%;
    z-index: 0;

    pointer-events: none;
}

.aboutabout{
    color: rgba(255, 255, 255, 0.15);
    text-align: left;
    font-size: 1000%;
    position: absolute;
    margin-top: -20px;
    margin-left: 10px;


}

.aboutcontainer{
    background-color: var(--color_blue);
    border-radius: 50px;
    margin: 20px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    position: relative;

    background-image:
    url("https://i.postimg.cc/1z3PWgFh/4-skill-gap.jpg");
    background-size: cover;
    background-blend-mode:soft-light;
}

/*PHONE SCREEN OVERRIDES*/
@media only screen and (max-width: 1000px) {



     .aboutgridsloth1_1{
        width: 98%;
        font-size: 150%;
     }
     .aboutgridsloth2_1{
        width: 98%;
        font-size: 100%;
        margin-left: 5px;
        text-align: left;
     }
     .aboutgrid{
        margin-top: 20px;
        display: grid;  
        grid-template:
        [row1-start] 'title image' 2fr [row1-end]
        [row2-start] 'text image' 3fr [row2-end]
        / 2fr 1fr;
    }
    .aboutgridimage{
        scale: 100%;

    }
    .aboutabout{
        font-size: 400%;
        position: absolute;
        margin-top: 0px;
    }


}



/*_____________________about____________________________*/

/*_____________________OFFER____________________________*/



:root{
    --offersecheight: 100px;
    --offertextheight: 175%;
    --offer_text_width: 400px;
    --offer_gradient_extent: 30%;
}

.offermastercontainer{
    position: relative;
    width: 90%;
    max-width: 98%;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.offersection_left{
    display: grid;  
    grid-template:
    1fr/1fr;
    height: var(--offersecheight);
    width: 90%;
    max-width: 85vw;
    border-radius: 30px;
    overflow: hidden;
    position: relative;
    transition: 1s;

    margin-top: 15px;
    float: left;
    margin-left: 50px;

}

.offersection_right{
    display: grid;  
    grid-template:
    1fr/1fr;
    height: var(--offersecheight);
    width: 90%;
    max-width: 85vw;
    border-radius: 30px;
    overflow: hidden;
    position: relative;
    transition: 1s;

    margin-top: 15px;
    float: right;
    margin-right: 50px;

}

.offersection_left:hover{
    transform: scale(102%);
    transition: 0.2s;
    margin-left: 10px;
}

.offersection_right:hover{
    transform: scale(102%);
    transition: 0.2s;
    margin-right: 10px;
}

.offerimage{
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: 0;
    position: absolute;
}

.offergradient_left{
    width: 100%;
    height: 100%;
    object-fit: cover;
    background: linear-gradient(to right,var(--color_blue) var(--offer_gradient_extent),var(--color_blue_transparent_gradient));
    z-index: 1;
    position: absolute;
}

.offergradient_right{
    width: 100%;
    height: 100%;
    object-fit: cover;
    background: linear-gradient(to left,var(--color_blue)  var(--offer_gradient_extent),var(--color_blue_transparent_gradient));
    z-index: 1;
    position: absolute;
}

.offer_text_left{
    position: absolute;
    z-index: 2;
    color: white;
    align-self: center;
    justify-self: center;
    font-size: var(--offertextheight);
    max-width: var(--offer_text_width);
    text-align: center;
    padding-left: 15px;
}

.offer_text_right{
    position: absolute;
    z-index: 2;
    color: white;
    align-self: center;
    justify-self: center;
    font-size:var(--offertextheight);
    max-width: var(--offer_text_width);
    text-align: center;
    padding-right: 15px;
}

.offerh1{
    color: var(--color_blue);
    font-size: 200%;
}

.specs{
    background-color: rgb(233, 232, 230);
    max-width: 95%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
    margin-bottom: 20px;
    border-bottom: 20px;
    z-index: 1;
     position: relative;
}

/*PHONE SCREEN OVERRIDES*/
@media only screen and (max-width: 1000px) {
    :root{
        --osffersecheight: 200px;
        --offertextheight: 150%;
        --offer_text_width: 600px;
        --offer_gradient_extent: 50%;
    }
}

.aopromise{
    color: white;
    max-width: 95%;
    margin-left: auto;
    margin-right: auto;
    z-index: 5;
    position: relative;
    background-color: var(--color_blue_transparent);
    border-radius:20px;
}


/*__________________AboutOffer_________________*/

.aboutoffergrid{
    display: flex; 
    grid-template-columns: 1fr 1fr;
    max-width: 1500px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.aooffer{
    order: 1;
    width: 50%;
}

.aoabout{
    order: 2;
    width: 50%;
}

.specsli{
    font-size:75%;
}

/*PHONE SCREEN OVERRIDES*/
@media only screen and (max-width: 1000px) {

    .aboutoffergrid{
        display: grid; 
        grid-template-columns: 1fr;
        
    }

    .aopromise{
        font-size: smaller;
    }

    .specs{
        font-size:150%;
    }

    .specsli{
        font-size:125%;
    }

    .aooffer{
        order: 2;
        width: auto;
    }
    
    .aoabout{
        order: 1;
        width: auto;
    }

}