@import url('https://fonts.googleapis.com/css2?family=Barrio&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root{
    --color_blue:#599aa7;
    --color_blue_transparent:#599aa7c9;
    --color_blue_blend:#8fc6d150;
    --color_blue_special:#66c0d6;
    --color_bg:#e6e6e6;
    --font_main:'tinos';
}

 body {
    background-image: linear-gradient(to right,var(--color_bg),rgb(255, 255, 255),var(--color_bg));
    /*background-color: #f0f0f0;*/
    color:rgb(24, 24, 24);
    text-align: center;
    min-height: 100vh;
    margin: 0;
    margin-top: 0;
    animation-name: fadein;
    animation-duration: 1s;
    animation-delay: 0s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    display: grid;
    grid-template-rows: auto 1fr auto;

    font-family: var(--font_main);

}

.bodyproper {
    animation-name: zoomin;
    animation-duration: 0.5s;
    animation-delay: 0s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}








button{
    width: fit-content;
    margin: 15px;
    padding: 15px;
    border: none;
    border-radius: 15px;
    transition: 1s;
    font-size: 100%;

}

button:hover{
    scale: 1.1;
    transition: 0.3s;
}

.button_white{
    background-color: white;
    color: var(--color_blue);
    font-family: var(--font_main);
    font-weight: 700;
    font-size: 200%;
}

.button_blue{
    background-color: var(--color_blue);
    font-family: var(--font_main);
    font-weight: 700;
    color: white;
    margin: auto;
}











.specialheader{
    display: block;
    /* background-image: linear-gradient(to right,rgb(231, 229, 226),rgba(231, 229, 226, 0.466),rgb(214, 212, 208)); */
    
    color:white;
    background-color: var(--color_blue);

    background-image:
    url("https://i.postimg.cc/dVBwmRLj/1-coaching.jpg");
    background-size: cover;
    background-blend-mode: soft-light;
    
}


.toplinks{
    padding: 20;
}

.hamburger{
    display: none;
}



a:link {
    color:rgb(234, 236, 238);
    background-color: var(--color_blue);
    text-decoration:none;
    font-size:120%;
    padding: 5px;

    border-radius: 10px;
}

a:visited {
    color:rgb(234, 236, 238);
    font-size:120%;
    text-decoration: none;
    border-radius: 5;

}

a:hover {
    color:rgb(236, 240, 243);
    background-color: var(--color_blue);
    font-size:120%;
    text-decoration: none;

    
}

.specialfooter{
    display: block;
    background-color: var(--color_blue);
    color: white;
    margin-bottom: 0;
    height: 200px;

    background-image:
    url("https://i.postimg.cc/VLyJ7cFs/3-goals.jpg");
    background-size: cover;
    background-blend-mode: soft-light;
}


.headerimage {
    max-width: 500px;
    display:inline-block;
    width: 50%;
    padding-top: 1.5%;
    margin-left: 5%;
    margin-right: auto;
    scale: 1;
    filter: drop-shadow(5px 5px 3px rgba(0, 0, 0, 0));

    transition: 1s;
}

.headerimage:hover {
    scale: 1.05;
    filter: drop-shadow(15px 15px 8px rgba(0, 0, 0, 0.3));
    transition: 0.3s;
}


.contactdet {
    text-align: right;
    padding: 5px;
    padding-left: 10vw;
    font-size: small;
    display: inline-block;
    position: relative;
    float: right;
    padding-right: 20px;
}

.contactdet_text{
    font-size: 200%;
}

.topcontactdet{
    text-align: right;
    padding: 5px;
    padding-left: 10vw;
    font-size: small;
    display: inline-block;
}

ul{
    list-style-image: url('https://i.postimg.cc/0jndZCsk/careerglow-arrow-32.png');
    font-size: xx-large;
    display: inline-block;

}
li{
   width: fit-content;
    padding-bottom: 10px;
    transition: 1s;
    color: var(--color_blue);
}

li:hover{
    scale:1.05;
    transition: 0.3s;
}

.button1 {
    background-color: var(--color_blue);
    border: none;
    color: white;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 30px;
    width: fit-content;
    border-radius: 20px;
  }
  .button1:hover {
    scale: 1.1;
  }

.inspiquote{
    width: 80vw;
    max-width: 1200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: var(--color_blue);
    transition: 1s;
}
.inspiquote:hover{
    scale: 1.05;
    transition: 0.3s;
}



/*ANIMATIONS*/

@keyframes zoomin {
    from {padding-top: 10%;
    opacity: 0;
    scale: 0.8;}

    to {padding-top: 0%;
    opacity: 1;
    scale: (1, 1);}

}

@keyframes fadein {
    from {
    opacity: 0;}

    to {
    opacity: 1;}

}



/*PHONE SCREEN OVERRIDES*/
@media only screen and (max-width: 1000px) {



    body{
        font-size:xx-large;
    }

    .headerimage {
        max-width: 90vw;
        width:90vw;
        display:inline;
        width: 100%;
        padding-top: 1.5%;
        margin-left: 5vw;
        margin-right: 5vw;
    }

    .toplinks{
        display: none;
        gap: 20px;
    }
    .hamburger{
        display: block;
        text-align: right;
        padding-right: 10vw;
    }

    .contactdet{
        display: block;
        font-size: x-large;
    }
    .topcontactdet{
        display: none;
    }
    li{
        width:auto;
     }
     .button1{
        font-size: 50px;
     }
     .inspiquote{
        width: 95vw;
     }

}