



.servicescont_R , .servicescont_L {
    width: 1100px;
    height: fit-content;
    margin: 20px;
    padding: 25px;
    border-radius: 50px;
    max-width: 95vw;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--color_blue);
    color: white;
    font-size:110%;

    transition: 1s;

    background-image:
    url("https://i.postimg.cc/Jzp4Wwjk/6-finish.jpg");
    background-size: cover;
    background-blend-mode:soft-light;


}

.servicescont_R:hover{
    scale: 1.1;
    transform: rotate(0.5deg);
    filter: drop-shadow(rgba(0, 0, 0, 0.5) 10px 10px 10px);
    z-index: 2;
    background-color: var(--color_blue_special);

    transition: 0.3s;
}

.servicescont_L:hover{
    scale: 1.1;
    transform: rotate(-0.5deg);
    filter: drop-shadow(rgba(0, 0, 0, 0.5) 10px 10px 10px);
    z-index: 2;
    background-color: var(--color_blue_special);

    transition: 0.3s;
}



.services_inner{
    scale: 100% 100%;
}

.services_inner:hover{
    scale: 100% 100%;
}


.ul_services_R, .ul_services_L{
    background-color: white;
    color: var(--color_blue);
    padding: 10px;
    border-radius: 30px;
    transition: 0.3s;
    font-size: 150%;
    list-style-image: none;
    list-style-type:none;
}

/*
.ul_services_R:hover{
    transform: rotate(1deg);
    transition: 0.3s;
}

.ul_services_L:hover{
    transform: rotate(-1deg);
    transition: 0.3s;
}
    */

.li_services{
    text-align: left;
      background: url('https://i.postimg.cc/MpHtST6Q/783e9a09-bd7f-405b-9188-37050c4e5391-32.png') no-repeat center left;
      padding-left: 40px;
}


.grid_services{
    display: inline-grid;
    grid-template-columns: auto auto auto auto;
    gap: 20px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

/*PHONE SCREEN OVERRIDES*/
@media only screen and (max-width: 1000px) {

    .grid_services{
        grid-template-columns: auto;
    }

    .servicescont_R , .servicescont_L {
        width: 85vw;
    
    }


}