
:root{
    --offersecheight: 200px;
    --offertextheight: 200%;
    --offer_text_width: 400px;
    --offer_gradient_extent: 30%;
}

.offermastercontainer{
    width: 1500px;
    max-width: 95vw;
    margin-left: auto;
    margin-right: auto;
}

.offersection_left{
    display: grid;  
    grid-template:
    1fr/1fr;
    height: var(--offersecheight);
    width: 1000px;
    max-width: 85vw;
    border-radius: 30px;
    overflow: hidden;
    position: relative;
    transition: 1s;

    margin-top: 15px;
    float: left;
    margin-left: 50px;

}

.offersection_right{
    display: grid;  
    grid-template:
    1fr/1fr;
    height: var(--offersecheight);
    width: 1000px;
    max-width: 85vw;
    border-radius: 30px;
    overflow: hidden;
    position: relative;
    transition: 1s;

    margin-top: 15px;
    float: right;
    margin-right: 50px;

}

.offersection_left:hover{
    transform: scale(102%);
    transition: 0.2s;
    margin-left: 65px;
}

.offersection_right:hover{
    transform: scale(102%);
    transition: 0.2s;
    margin-right: 65px;
}

.offerimage{
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: 0;
    position: absolute;
}

.offergradient_left{
    width: 100%;
    height: 100%;
    object-fit: cover;
    background: linear-gradient(to right,var(--color_blue) var(--offer_gradient_extent),rgba(0, 0, 0, 0));
    z-index: 1;
    position: absolute;
}

.offergradient_right{
    width: 100%;
    height: 100%;
    object-fit: cover;
    background: linear-gradient(to left,var(--color_blue)  var(--offer_gradient_extent),rgba(0, 0, 0, 0));
    z-index: 1;
    position: absolute;
}

.offer_text_left{
    position: absolute;
    z-index: 2;
    color: white;
    align-self: center;
    justify-self: left;
    font-size: var(--offertextheight);
    max-width: var(--offer_text_width);
    text-align: left;
    padding-left: 15px;
}

.offer_text_right{
    position: absolute;
    z-index: 2;
    color: white;
    align-self: center;
    justify-self: right;
    font-size:var(--offertextheight);
    max-width: var(--offer_text_width);
    text-align: right;
    padding-right: 15px;
}

.offerh1{
    color: var(--color_blue);
    font-size: 300%;
}

/*PHONE SCREEN OVERRIDES*/
@media only screen and (max-width: 1000px) {
    :root{
        --offersecheight: 200px;
        --offertextheight: 150%;
        --offer_text_width: 600px;
        --offer_gradient_extent: 50%;
    }
}